:root {
	--bg-color: #F4E9D7;
	--container-color: #6FA4AF;
	--accent1-color: #B8C4A9;
	--accent2-color: #D97D55;
	--default-margin: 10px;
	--content-width: 800px;
	--menu-padding: 5vw;
}



* {
	margin: 0px;
}

body {
	min-height:100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color);
	font-family: "calibri";
}

header, footer {
	color: var(--bg-color);
	background-color: var(--container-color);
	padding-left: var(--menu-padding);
	padding-right: var(--menu-padding);
}

footer {
	margin-top: auto;
}

main {
	margin: 0 auto;
	width: 800px;
}

@media screen and (max-width: 880px){
	main {
		width: 90vw;
	}
}

a, p, h1, h2, h3 {
	margin: var(--default-margin);
}

h1 {
	text-align: center;
}

a {
	color: var(--accent2-color);
	text-decoration: none;
}

a:hover {
	color: #F96E5B;
}

#header-name {
	color: var(--background-color);
	font-size: 2.5rem;
}

.link-banner {
	display: flex;
	justify-content: space-between;
	background-color: var(--accent1-color);
	padding-left: var(--menu-padding);
	padding-right: var(--menu-padding);
}

.flat-list {
	display: flex;
	padding: 0px;
}

ul.flat-list li {
	list-style: none;
}

.project-card {
	
}
