:root {
	--bg-color: #F4E9D7;
	--container-color: #6FA4AF;
	--accent1-color: #B8C4A9;
	--accent2-color: #D97D55;
	--default-margin: 10px;
	--min-width: 250px;
	--content-width: clamp(var(--min-width), 90vw, 800px);
	--menu-padding: calc(10px + max((100vw - 1200px)/2, 0px));
}



* {
	margin: 0px;
}

body {
	min-height:100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color);
	font-family: "calibri";
	min-width: 350px;
}

header, footer {
	color: var(--bg-color);
	background-color: var(--container-color);
	padding: 0px var(--menu-padding);
}

footer {
	margin-top: auto;
	text-align: center;
}

main {
	margin: 0 auto;
	width: var(--content-width);
}

a, p, h1, h2, h3 {
	margin: var(--default-margin);
}

h1 {
	text-align: center;
}

a {
	color: var(--accent2-color);
	text-decoration: none;
}

a:hover {
	color: #F96E5B;
}

#header-name {
	color: var(--background-color);
	font-size: 2.5rem;
}

.link-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--accent1-color);
	padding-left: var(--menu-padding);
	padding-right: var(--menu-padding);
	border-radius: 0px 0px 6px 6px;
}

.flat-list {
	display: flex;
	padding: 0px;
}

ul.flat-list li {
	list-style: none;
}

@media screen and (max-width: 450px){
	header {
		text-align: center;
	}

}

.project-holder {
	display: grid;
}

.project-card {
	width: 500px;
	height: 500px;
}
